* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

/*

@mixin flex-center($gap:0rem){
    display: flex;
    flex-direction: column;
    gap: $gap;
}
main {
    width: 100%;
    padding: 1rem;
    background-color: rgb(68, 67, 67);
    @include flex-center(0rem);


    section {
        width: 100%;
        @include flex-center(1rem);

        // display: flex;
        // flex-direction: column;
        // gap: 1rem;


        .top {

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 1rem;

            }
        }

        .bottom {
            width: 100%;
            @include flex-center(2rem);

            padding: 1rem;
            // border: 10px solid red;
            border-radius: 1rem;
            background-color: rgba(transparent, 0.5);



            p {
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 600;
                // font-weight: bolder;
                padding: 0 1rem;
            }

            .text {
                @include flex-center(0rem);

                h1 {
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    font-weight: 400;
                    // line-height: 2.5rem;

                    padding: 1rem;

                }

                p {
                    text-transform: none;
                    font-size: 1.2rem;
                    font-weight: 300;
                    // padding: 1rem;
                }

                button {
                    width: 100%;
                    text-align: left;

                    text-transform: uppercase;
                    border: none;
                    font-size: 1.2rem;
                    font-weight: 500;
                    // border-radius: 1rem;

                    padding: 2rem 2rem;
                }
            }
        }
}   }
*/
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: clamp(14px, 1vw, 18px);
}

body {
  background-color: rgb(38, 36, 36);
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view1 .top {
  width: 100%;
}
main section.view1 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view1 .bottom {
  background-color: #343333;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.7rem;
}
main section.view1 .bottom p {
  font-weight: 600;
}
main section.view1 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view1 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5rem;
}
main section.view1 .bottom .text p {
  font-weight: 300;
  opacity: 0.6;
  line-height: 1.5;
  font-size: 1.5rem;
}
main section.view1 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view2 {
  background-color: #242424;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  width: 100%;
  padding: 1rem;
}
main section.view2 .top, main section.view2 .bottom {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
main section.view2 .top .element, main section.view2 .bottom .element {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
main section.view2 .top .element small, main section.view2 .bottom .element small {
  opacity: 0.6;
}
main section.view2 .top .element h2, main section.view2 .bottom .element h2 {
  font-size: 3rem;
  font-weight: 300;
}
main section.view3 {
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .top {
  width: 100%;
}
main section.view3 .top img {
  width: 100%;
  border-radius: 1rem;
}
main section.view3 .bottom {
  background-color: #343333;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0.7rem;
}
main section.view3 .bottom .buttom > p {
  font-weight: 600;
  text-transform: uppercase;
}
main section.view3 .bottom .text {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
main section.view3 .bottom .text h1 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 2.5rem;
}
main section.view3 .bottom .text p {
  font-weight: 300;
  opacity: 0.6;
  line-height: 1.5;
  font-size: 1.5rem;
}
main section.view3 .bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  outline: none;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
}
main section.view4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 1rem;
}
main section.view4 .card:nth-child(1) {
  background-image: url(card_team-01.webp);
}
main section.view4 .card:nth-child(2) {
  background-image: url(card_team-02.webp);
}
main section.view4 .card:nth-child(3) {
  background-image: url(card_team-03.webp);
}
main section.view4 .card {
  width: 100%;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: space-between;
  padding: 1rem;
}
main section.view4 .card .icon, main section.view4 .card .bottom {
  background-color: rgba(43, 42, 42, 0.386);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border: 1px solid white;
  border-radius: 0.7rem;
  padding: 0.5rem;
}
main section.view4 .card .top {
  display: flex;
  gap: 0.3rem;
  justify-content: flex-end;
}
main section.view4 .card .icon {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 50%;
}
main section.view4 .card .bottom {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem;
}
main section.view4 .card .bottom p {
  text-transform: uppercase;
}

/*
@media (min-width:600px){
// if width is min'm 600px or more than 600px  then it's color of main changes to red
    main{
        background-color: red;
    }   
}
*/
@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view1 .top, main section.view1 .bottom {
    width: 50%;
  }
  main section.view1 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view1 .bottom .text {
    gap: 1.5rem;
  }
  main section.view1 .bottom .text h1 {
    font-size: 3.5rem;
  }
  main section.view1 .bottom .text p {
    width: 60%;
    font-size: 1rem;
  }
  main section.view2 {
    flex-direction: row;
    padding: 1rem 4rem;
  }
  main section.view3 {
    flex-direction: row-reverse;
    padding: 1rem 4rem;
  }
  main section.view3 .top, main section.view3 .bottom {
    width: 50%;
  }
  main section.view3 .bottom {
    justify-content: space-between;
    padding: 3rem;
  }
  main section.view3 .bottom .paragraphs {
    display: flex;
    gap: 2rem;
  }
  main section.view3 .bottom .paragraphs p {
    font-size: 1rem;
  }
  main section.view4 {
    flex-direction: row;
    padding: 1rem 4rem;
    justify-content: space-between;
  }
  main section.view4 .card {
    width: 30%;
    aspect-ratio: 1/1.2;
  }
}/*# sourceMappingURL=15_style_day23(RES)_p.css.map */